
<div class="table-header">
    <!-- Results for "Latest Registered Domains" -->
</div>

<div>
    <table id="stokTable" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="center">No</th>
                <th>Kode Barang</th>
                <th>Nama Barang</th>
                <th>Tanggal</th>
                <th>Jumlah</th>
                <th>Aksi</th>
            </tr>
        </thead>
    </table>
</div>